[submodule "repo"]
	path = repo
	url = git@github.com:rafoli/lugbot-repo.git
[submodule "custom-extensions"]
	path = lugbot-custom-extensions
	url = git@github.com:rafoli/lugbot-custom-extensions.git
[submodule "service-upgrade-bot"]
	path = lugbot
	url = git@github.com:LiferayCloud/service-upgrade-bot.git
